.navbarBrand,
.navbarBrand:hover,
.navbarBrand:active {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
}

.logoutHeader {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
  color: #e5fff6;
}

.navbarForm {
  width: 400px;
  height: 45px;
}

.navbarFormControl {
  font-weight: 600;
  font-size: 16px;
}

.navbarProfile {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.navbarLink {
  color: #eee;
  text-decoration: none;
  transition: 0.1s all;
}

.navbarLink:hover {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .navbarCollapse {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid #bbb;
    transition: all step-end;
  }
}

@media screen and (max-width: 500px) {
  .navbarForm {
    width: 250px;
  }

  .navbarCollapse {
    padding: 2%;
  }
}

@media screen and (max-width: 330px) {
  .navbarForm {
    width: 200px;
  }
}
